/* Section Banner  */

.bannerbox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 48px;
    gap: 64px;
    align-items: center;
}

.imagebanner {
    position: relative;
    overflow: visible;
    justify-content: center;
    align-items: center;
}

.imgelipse {
    position: relative;
    top: 0;
    left: 0;
}

.imgdoctor {
    position: absolute;
    top: 20px;
    right: 15%;
}

.textbanner {
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}

.ctaphrase {
    color: #000000;
    text-align: left;
    font: var(--web-large-title, 600 40px/52px "noto sans", sans-serif);
    position: relative;
    width: 455px;
}

.cta {
    background: var(--nutrikid-primary-purple-1, #ab87ff);
    border-radius: var(--x-large, 8px);
    padding: 5px 12px 5px 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.cta:hover, .ctatext:hover {
    color: #115EA3;
    cursor: pointer;
}

.ctatext {
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    color: #ffffff;
    text-align: left;
    font: 600 24px/32px "noto sans", sans-serif;
    align-items: center;
}

/* Program Section */

.programbox {
    background-color: #f9fbfd;
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 32px 0px;
    margin: 0px 48px;
    align-items: center;
    justify-content: center;
    
}

.programphrase {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.programphrase1 {
    color: #000000;
    text-align: left;
    font: 600 40px/52px "noto sans", sans-serif;
}

.programphrase2 {
    color: #000000;
    text-align: left;
    font: 600 24px/32px "noto sans", sans-serif;
}

.contentprogram {
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 100%;
    overflow: visible;
    padding: 32px;
}

.program1 {
    background: #ffffff;
    border-radius: 5px;
    gap: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.program1:hover {
    cursor: pointer;
}

.imgpg1 {
    border-radius: 10px;
    height: 169px;
    object-fit: cover;
}

.titleprogram1 {
    color: #000000;
    text-align: left;
    font: 600 20px/28px "noto sans", sans-serif;
}

.harga {
    display: flex;
    justify-content: center;
}

/* Artikel Section */

.artikelbox {
    background:#f9fbfd;
    padding: 64px 0px;
    margin: 0px 48px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    justify-content: center;
    height: auto;
}

.artikelphrase {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    margin: 0px 48px;
}

.artikelphrase1 {
    color: #000000;
    text-align: left;
    font: 600 40px/52px "noto sans", sans-serif;
    text-align: center;
}

.artikelphrase2 {
    color: #000000;
    text-align: left;
    font: 600 24px/32px "noto sans", sans-serif;
    text-align: center;
}

.card-box {
    padding: 32px;
}

.short-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    }

.img-small {
    object-fit: cover;
    max-height: 170px;
}


.artikellabel {
    background:#f9fbfd;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 51px;
    top: 17px;
}

.viewlabel {
    background:#e6e9ec;
    border-radius: 50px;
    padding: 2px 6px 2px 6px;
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    justify-content: flex-start;
    height: 22px;
}

.dotbox {
    background: #7c8b9d;
    border-radius: 50px;
    width: 8px;
    height: 8px;
    overflow: hidden;
}

.most-viewed {
    color: #000000;
    text-align: left;
    font: 600 15px/22px "Inter", sans-serif;
}


/* Testimoni section */

.testimonibox {
    background:#f9fbfd;
    margin: 48px;
    padding: 32px 0px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;

}

.testimoni {
    color: #000000;
    text-align: left;
    font: 600 40px/52px "noto sans", sans-serif;
    position: relative;
}

#description {
    color: #000000;
    text-align: center;
    font: 600 24px/32px "noto sans", sans-serif;
    position: relative;
    width: 90%;
    padding: 0px 32px 0px 32px;
}



.contentbox {
    padding: 0px 32px 0px 32px;
    display: flex;
    flex-direction: row;
    gap: 48px;
    align-items: flex-start;
    justify-content: flex-start;
    width: auto;
}

.contenttestimoni {
    display: flex;
    flex-direction: row;
    gap: 48px;
    align-items: flex-start;
    justify-content: flex-start;
}

.testimoni1 {
    background:#f9fbfd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    width: auto;
}

.texttestimoni1 {
    color: #000000;
    text-align: left;
    font: 400 16px/22px "noto sans", sans-serif;
    width: auto;
}

.deskripsiuser {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    position: relative;
    gap: 10px;
    width: auto;
    left: 1rem;
    right: 1rem;
}

.imgtestimoni {
    background: linear-gradient(to left, #7c8b9d, #7c8b9d);
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.namauser {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    justify-content: center;
}

.nikita {
    color: #000000;
    text-align: left;
    font: 700 16px/22px "noto sans", sans-serif;
}

.pekerjaan {
    color: #000000;
    text-align: left;
    font: 600 16px/22px "noto sans", sans-serif;
}


/* Custom Responsive Section */

@media only screen and (max-width: 1200px) {
    .artikelbox {
        max-width: 1200px;
    }
}


@media only screen and (max-width: 992px) {

    /* Banner 992 */

    .bannerbox {
        flex-direction: column;
        align-items: center;
    }
    
    /* artikel 992 */
    /* .card-box {
        max-height: max-content;
    } */

    /* Program 992 */

    .programphrase {
       gap: 12px;
    }

    .programphrase1, .programphrase2 {
        text-align: center;
    }

    .contentprogram {
        display: flex;
        flex-direction: column;
    }

    /* Testimoni 992 */

    
    .contenttestimoni {
        flex-direction: column;
    }

}

@media only screen and (max-width: 768px) {

    /* Artikel 768 */

    .card-box {
        gap: 16px;
    }
}

@media only screen and (max-width: 576px) {
     /* Banner 576 */
        .bannerbox {
            width: 300px;
            margin: auto;
            margin-bottom: 48px;
            gap: 20px;
            align-items: center;
            justify-content: center;
            position: relative;
            top: 28px;            
        }

        .imagebanner {
            height: 225px;
        }

        .imgelipse {
            height: 213px;
        }
        
        .imgdoctor {
            height: 206px;
        }

        .textbanner {
            gap: 16px;
        }

        .ctaphrase {
            font-size: 20px;
            line-height: 26px;
            width: 300px;
        }

        .ctatext {
            font-size: 12px;
        }

        /* program 576 */

        .programbox {
            margin: auto;
        }

        .programphrase1 {

            font-size: 20px;
            line-height: 26px;

        }

        .programphrase2 {

            font-size: 12px;
            line-height: 16px;

        }

        .contentprogram {
            padding: 0px 30px;
        }

        .titleprogram1 {
            font-size: 16px;
            line-height: 22px;
        }

        .textisi {
            font-size: 12px;
            line-height: 16px;
        }

        /* Artikel 576 */

        .artikelbox {
            gap: 24px;
        }

        .artikelphrase {
            margin: 24px;
            gap: 16px;
        }


        .artikelphrase1 {
            font-size: 20px;
            line-height: 26px;
        }

        .artikelphrase2 {
            font-size: 12px;
            line-height: 16px;
        }

       
        /* Testimoni 576 */

        .testimonibox {
            margin: 12px;
            padding: 0px 30px;
        }

        .testimoni {
            font-size: 20px;
        }

        #description {
            font-size: 12px;
            line-height: 16px;
            width: 100%;
            padding: 0;
        }

        .namauser {
            font-size: 12px;
            line-height: 16px;
        }

        .texttestimoni1 {
            font-size: 12px;
            line-height: 16px;
        }

        .deskripsiuser {
            left: 0;
            right: 0;
        }
}



